### Practica Python Clase 2

## Punto 1

1. Desarrolle las siguientes instrucciones en Python:

a) r = | (4³ - 3!) ⋅ (13/12) |

In [5]:
import math as mt
r = (pow(4,3) - mt.factorial(3)) * (13/12)
r

62.83333333333333

b) r = √24 ⋅ π

In [6]:
mt.sqrt(24) * mt.pi

15.390597961942367

c) r = | log₁₀(38) |

In [7]:
mt.log(38,10)

1.57978359661681

## Punto 2 
Dada una cadena de texto indique si la cantidad de caracteres en la cadena es un numero par o impar.
Realice una prueba para cada uno de los siguientes valores: “agua”, “tierra", “marte".

In [8]:
mi_variable = "agua"
mi_variable2 = "tierra"
mi_variable3 = "marte"
tam = len(mi_variable)
tam2 = len(mi_variable2)
tam3 = len (mi_variable3)
tam
tam2
tam3
if (len(mi_variable)%2==0):
    print(f"""El tamaño {mi_variable} es par """)
else:
 print(f"""El tamaño {mi_variable} es imppar """)

if (len(mi_variable2)%2==0):
    print(f"""El tamaño {mi_variable2} es par """)
else:
 print(f"""El tamaño {mi_variable2} es imppar """)

if (len(mi_variable3)%2==0):
    print(f"""El tamaño {mi_variable3} es par """)
else:
 print(f"""El tamaño {mi_variable2} es imppar """)

El tamaño agua es par
El tamaño tierra es par
El tamaño tierra es imppar

### Punto 3
 Dado x = (15; 34; 72; 23; 91; 4; 201; 68; 56; 78) realice lo siguiente:

In [9]:
matriz = [15, 34, 72, 23, 91, 4, 201, 68, 56, 78]
matriz

[15, 34, 72, 23, 91, 4, 201, 68, 56, 78]

In [10]:
import numpy as np
import  statistics as st

• Calcule la media, la varianza y la desviación estándar

In [11]:
st.mean(matriz)

64.2

In [12]:
st.pvariance(matriz)

2841.96

In [13]:
st.pstdev(matriz)

53.310036578490546

• Extraiga los primeros 3 valores.

In [14]:
primeros_valores = matriz [0:3]
print (primeros_valores)

[15, 34, 72]

• Indique el valor mas pequeño del vector

In [15]:
minimo = min(matriz)
print(minimo)

4

• Obtenga la sumatoria de todos los valores del vector.

In [16]:
sum(matriz)

642

• Obtenga la lista x invertida.

In [17]:
matriz.reverse()
matriz

[78, 56, 68, 201, 4, 91, 23, 72, 34, 15]

### Punto 4
Genere un DataFrame de la siguiente tabla de datos

In [18]:
import pandas as pd

In [19]:
data_frame = {'Nombre': ["Luis","Andres", "Maria", "Andrea", "Carlos", "Sofia"],
             'Ingles': [7.8,6.5,7.2,5.3,6.1,7.0],
             'Ciencias': [6.9,9.0,7.5,6.7,6.3,9.2],
             'Español': [8.5,7.8,9.1,6.2,7.9,7.6],
             'Historia': [7.2,6.9,8.0,9.5,8.4,8.1],
             'Filosofia':[9.1,7.4,7.8,8.6,7.8,6.8] ,
             'Genero': ["M", "M", "F", "F", "M", "F"]}
Mi_Data_Frame = pd.DataFrame(data_frame)
Mi_Data_Frame

   Nombre  Ingles  Ciencias  Español  Historia  Filosofia Genero
0    Luis     7.8       6.9      8.5       7.2        9.1      M
1  Andres     6.5       9.0      7.8       6.9        7.4      M
2   Maria     7.2       7.5      9.1       8.0        7.8      F
3  Andrea     5.3       6.7      6.2       9.5        8.6      F
4  Carlos     6.1       6.3      7.9       8.4        7.8      M
5   Sofia     7.0       9.2      7.6       8.1        6.8      F